html,
body,
#root,
.App {
	height: 100%;
	width: 100%;
	display: flex;
	background: #e6e6e6;
}

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.App-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 3vmin);
	color: #39393a;
}

.Game {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 10%;
	margin-right: 10%;
}

.Container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: start;
}

.Container2 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.Container3 {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.Item {
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

.Button-Container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

.no-selecto-bro {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}
